/* Map.css */

/* Estilos para el contenedor del mapa */
.map-container {
    height: 500px;
  }
  
  /* Estilos para el menú desplegable */
  .select-area {
    margin-bottom: 20px;
  }
  
  /* Estilos para el mapa */
  .map {
    width: 100%;
    height: 100%;
  }
  