/* Estilos generales */
.app-container {
    background-color: #28264c; /* Azul oscuro de fondo */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Estilos para el encabezado */
  .header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
/* Estilos para los cards de consultas */
.query-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .query-card {
    background-color: #E8EAE7; /* Gris claro de fondo para cards */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos responsivos */
  @media (min-width: 769px) and (max-width: 1024px) {
    .query-cards-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Dos cards por fila en pantallas medianas */
    }
  }
  
  @media (min-width: 1025px) {
    .query-cards-container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Tres cards por fila en pantallas grandes */
    }
  }
  
  
  /* Estilos para el mapa */
  .map-container {
    width: 100%;
    height: 400px; /* Ajusta el alto según tus necesidades */
  }
  