/* Prop.css */

.crime-dashboard-container {
    color: white;
    text-align: justify; /* Alineación justificada */
    margin-right: 320px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em; /* Tamaño de la letra */
  }
  
  @media (max-width: 768px) {
    .crime-dashboard-container {
      margin-right: 0;
    }
  }
  